@font-face {
    font-family: Outfit;
    src: url('../assets/fonts/Outfit-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Outfit;
    src: url('../assets/fonts/Outfit-SemiBold.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Outfit;
    src: url('../assets/fonts/Outfit-Bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: Outfit;
    src: url('../assets/fonts/Outfit-ExtraBold.ttf');
    font-weight: 700;
}
